@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    margin: 0;
    
}

.header-logo {
    margin-bottom: 100px;
    font-size: 24px;
    color: #f9faf8;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
}

.hero-sub {
    font-size: 18px;
    color: #e5e7eb;
}

.sign-up {
    border-style: none;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 900;
    padding: 12px 32px;
    border-radius: 10px;
}

li, a {
    list-style: none;
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    display: flex;
    gap: 16px;
    margin-bottom: 100px;
}

.img {
    width: 500px;
    height: 250px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f9faf8;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    padding-bottom: 100px;
}

.header-left {
    width: 450px;
}

.header-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.random-info{
    display: flex;
    justify-content: center;
    color: #1F2937;
    font-weight: 900;
    font-size: 36px;
    margin: 50px 0px;
}

.thingy {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 175px;


}

.illustration {
    width: 175px;
    height: 175px;
    border: #3882f6 5px solid;
    border-radius: 10px;
}

.middle {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 100px;
}

.subtext {
    text-align: center;
    color: #7b7b7b;
}

.quote-section {
    padding: 100px 0px;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #5a5a5a;
    margin: 0px;
}

.wrapper {
    width: 850px;

}

.thor {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 20px;
}

.call-to-action {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 900px;
    height: 150px;
    background-color: #3882f6;
    margin: 100px 0px;
    border-radius: 10px;
}

.wrapper-two {
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-title {
    color: #f9faf8;
    margin: 0;
}

.c-para {
    margin: 0;
    color: #e5e7eb;
}

.button-two {
    border: white 2px solid;
}